<app-header></app-header>
<main>
    <section class="container">
        <div class="card">
            <h5 class="card-header">Quem sou eu?</h5>
            <div class="card-body">
                <div class="info">
                    <h5 class="card-title">Jonatas Sousa Monteiro</h5>
                    <img src="../../../assets/img/perfil.jpg" class="rounded" width="180" alt="Jonatas">
                </div>
              
              <p class="card-text">
                  Prazer, eu sou Jonatas Sousa Monteiro, tenho 20 anos e moro em Itaquera, Zona Leste de São Paulo.
                  Sou formado como Técnico em Informática pela Etec de Itaquera e atualmente estou fazendo Análise e Desenvolvimento de Sistemas na Universidade Cruzeiro do Sul. <br><br>
                  Já trabalhei em uma empresa de prestação de serviço para telecom, na área de inovação em 2018 e saí em 2019, desde então, estou desempregado.
                  <br> <br>
                  Vim focando nos estudos e no conhecimento do mercado nestes últimos dois anos e agora que estou no último anos da faculdade, vejo um estágio como uma oportunidade perfeita para entrar na área.
              </p>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              Inspiração
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p>“Nunca se compare com ninguém neste mundo. Caso o faça, entenda que você estará insultando a si mesmo.”</p>
                <footer class="blockquote-footer">Bill Gates, <cite title="Título da fonte">Criador da Microsoft.</cite></footer>
              </blockquote>
            </div>
          </div>
    </section>
</main>
<app-footer></app-footer>