header[role="banner"] #logo-main {
    display: block;
    margin: 30px auto 20px;   
}

header nav{
    box-shadow: 4px 8px 8px #C0C0C0;
}

.navbar{
    background-color: #6495ED;
}

.navbar .navbar-collapse ul{
    margin: 0 auto;
}

.navbar .dropdown-menu .dropdown-item{
    color: #363636;
}

.navbar ul li a{
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.navbar ul li :hover{
    text-decoration: underline;
}