<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="sobre col-sm-12 col-md-6">
            <h6><b>Sobre</b></h6>
            <p class="text-justify">
              Esta aplicação foi desenvolvida com base nas especificações da Cromai referente ao processo seletivo de 
              <a href="github.com/Jonntz">Jonatas Sousa Monteiro</a> para o estágio em Desenvolvimento Web.
            </p>
        </div>

        <div class="categorias col-xs-6 col-md-3">
          <h6><b>Categorias</b></h6>
          <ul class="footer-links">
            <li>Html</li>
            <li>Css</li>
            <li>Javascript</li>
            <li>Bootstrap</li>
            <li>Angular</li>
            <li>Typescript</li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2021 Todos os direitos reservados por 
            <a href="https://github.com/Jonntz/">Jonatas</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="whatsapp" href="https://api.whatsapp.com/send?phone=5511969434837" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
            <li><a class="linkedin" href="https://www.linkedin.com/in/jonatas-sousa-monteiro-3a83771a3/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            <li><a class="github" href="github.com/Jonntz" target="_blank"><i class="fa fa-github"></i></a></li> 
          </ul>
        </div>
      </div>
    </div>
</footer>