<app-header></app-header>
<main>
  <section class="container">
    <div class="card bg-dark text-white">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="6500">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="../../../assets/img/the-parthenon-2419027_1920.jpg" alt="Fisrt slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../../../assets/img/pythagorean-theorem-5974278_1920.jpg" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../../../assets/img/teaching-4727933_1920.jpg" alt="Third slide">
          </div>
        </div>
      </div>
        <div class="card-img-overlay">
          <h2 class="card-title text-center">Seja Bem-vindo ao Pitágoras!</h2>
          <p class="card-text">
            Olá, caro viajante do tempo!!
          </p>
          <p id="apresentacao" class="card-text">
            &nbsp; &nbsp; Você retornou ao passado para aproximadamente 535 A.C. e encontrou com o grande filósofo matemático Pitágoras que naquela época estava pensando
            em largar tudo e desistir de seu trabalho. Com isso, o seu retorno ao passado trouxe um enorme desafio, que irá revolucionar o mundo, 
            mas para isso você precisa provar ao grande filósofo que tudo aquilo que ele tinha construído até o momento era algo promissor e por isso ele 
            deveria continuar. <br><br>

            &nbsp; &nbsp; Use esta calculadora para mostrar a ele que todo o esforço valeu a pena e nós utilizamos deste conhecimento até os dias atuais.
          </p>
        </div>
    </div>																																																																																																																																																																	
  </section>
</main>
<app-footer></app-footer>