
<div class="mb-3 text-left">
    <label for="texto1" class="form-label"><b>Valor do Cateto Oposto</b></label>
    <input type="text" class="form-control" id="texto1" aria-describedby="textHelp" [(ngModel)]="oposto">
    <div class="form-text">Digite aqui o valor do cateto oposto do triângulo retângulo.</div>
</div>
<div class="mb-3 text-left">
    <label for="texto1" class="form-label"><b>Valor do Cateto Adjascente</b></label>
    <input type="text" class="form-control" id="texto1" aria-describedby="textHelp" disabled>
    <div class="form-text">Digite aqui o valor do cateto Adjascente do triângulo retângulo.</div>
</div>
<div class="mb-3 text-left">
    <label for="texto1" class="form-label"><b>Valor da Hipotenusa</b></label>
    <input type="text" class="form-control" id="texto1" aria-describedby="textHelp" [(ngModel)]="hipotenusa">
    <div class="form-text">Digite aqui o valor da hipotenusa do triângulo retângulo.</div>
</div>
<button type="submit" class="btn btn-primary" (click)="teorema()">Calcular</button>

<div class="resultado">
    <div *ngIf="adjacente == null; else elseBlock;">
        <p>Nenhum resultado á apresentar!</p>
    </div>
    <ng-template #elseBlock>
        <p>Resultado: {{ resultadoAdjacente.toFixed(2) }}</p>
    </ng-template>
</div>
